<div class="view" style="background-image: url('https://wallpaperaccess.com/full/2239845.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container justify-content-center">
    <div class="row align-items-center">
      <div class="col-md-12 text-background">
        <div class="text-holder">
          <h1 class="h1-reponsive text-uppercase font-weight-bold mb-3 pt-md-5 text-light text-center"><strong>Andreas Beckett</strong></h1>
          <div class="profil mb-4">
            <h2>Profil</h2>
            <p>Jag är en ordningsam och självgående person som gillar utmaningar. Med andra ord om jag har ett mål att nå gör jag alltid mid bästa för att nå det. 
              Jag har inte heller några problem med att jobba i grupp eller utföra fysisk arbete, utan detta kan ofta bara vara en positiv sak och göra jobbet roligare eller mer utmanande. Jag tycker om att hjälpa andra för att vi tillsammans ska klara av ett mål. 
              På fritiden tränar jag på gym, spelar dator spel med vänner. Jag tycker även om att vara ute och t.ex. gå långa promenader, åka långfärdsskridskor, skidor och spela golf mm.
            </p>
          </div>
          <div class="Arbetslifserfarenhet mb-4">
            <h2>Arbetslifserfarenhet</h2>
              <div class="mb-2">
                <h5>Städare/Lokalvårdare</h5>
                <div class="italic mb-1">Håbo Kummuns lokalvård, Bålsta, Juli 2018 - Aug 2018</div>
                <p>Städade och gjorde rent kommunala lokaler såsom skolor, dagis, äldreboenden. Arbetsuppgifterna bestod bl.a. av att skura golv,
                   damma av ytor, ta bort fläckar från väggar, dörrar, fönster osv.</p>
                <p>Arbetsledare: Anna Helin, Telefon: 073 231 46 19</p>
              </div>
              
              <h5>Lagerarbetare</h5> 
              <div class="italic mb-1">Ingram micro, Brunna, Nov 2019 - Dec 2019</div>     
              <p>Jobbade på retur avdelinging av lagret vilket innebar att jag kontrollerade och gjorde rent varor som skickats tillbaka, 
                så att det var i tillräckligt bra skick för att säljas igen. Arbetet var ganska stressfullt, krävde väldig noggrannhet och systematik.</p>
          </div>
          <div class="Utbildingar mb-4">
            <h2>Utbildingar</h2>
              <div class="mb-2">
                <h5>Teknisk gymnasie utblildning</h5>
                <div class="italic mb-1">Fridegårdsgymnasiet, Bålsta, Aug 2016 - Juni 2019</div>
                <p>Teknikprogrammet med inriktning design och produktutveckling CAD, Design, bild & form, och två programmerings kurser som tillval.</p>
              </div>
              
              <h5>Frontend utveckling YH</h5> 
              <div class="italic mb-1">EC utbildning, Västerås, Aug 2020 - Pågår</div>     
              <p>Utbildingen innefattar kurser inom olika programmerings språk såsom HTML,
                CSS, Javascript och även andra mindre kurser inom det som dom man samarbetar arbetar med, t.ex. backend och designen.</p>
          </div>

          <button type="button" class="cv-btn" routerLink="/">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>


